:root{
  --space-xs : clamp(1.00rem, calc(1.00rem + 0.0020 * (100vw - 380px)), 1.20rem),
  --space-xs : clamp(1.00rem, calc(1.00rem + 0.0020 * (100vw - 380px)), 1.20rem);
  --space-s : clamp(1.40rem, calc(1.40rem + 0.0020 * (100vw - 380px)), 1.60rem),
  --space-s : clamp(1.40rem, calc(1.40rem + 0.0020 * (100vw - 380px)), 1.60rem);
  --space-m : clamp(1.80rem, calc(1.80rem + 0.0061 * (100vw - 380px)), 2.40rem),
  --space-m : clamp(1.80rem, calc(1.80rem + 0.0061 * (100vw - 380px)), 2.40rem);
  --space-l : clamp(2.80rem, calc(2.80rem + 0.0041 * (100vw - 380px)), 3.20rem),
  --space-l : clamp(2.80rem, calc(2.80rem + 0.0041 * (100vw - 380px)), 3.20rem);
  --space-xl : clamp(4.20rem, calc(4.20rem + 0.0061 * (100vw - 380px)), 4.80rem),
  --space-xl : clamp(4.20rem, calc(4.20rem + 0.0061 * (100vw - 380px)), 4.80rem);
  --space-xxl : clamp(5.80rem, calc(5.80rem + 0.0061 * (100vw - 380px)), 6.40rem),
  --space-xxl : clamp(5.80rem, calc(5.80rem + 0.0061 * (100vw - 380px)), 6.40rem);
  --space-section : clamp(10.00rem, calc(10.00rem + 0.0203 * (100vw - 380px)), 12.00rem),
  --space-section : clamp(10.00rem, calc(10.00rem + 0.0203 * (100vw - 380px)), 12.00rem);
  --logo-width : clamp(12.00rem, calc(12.00rem + 0.0811 * (100vw - 380px)), 20.00rem),
  --logo-width : clamp(12.00rem, calc(12.00rem + 0.0811 * (100vw - 380px)), 20.00rem);
  --h1 : clamp(4.50rem, calc(4.50rem + 0.0294 * (100vw - 380px)), 7.40rem);
  --h1 : clamp(4.50rem, calc(4.50rem + 0.0294 * (100vw - 380px)), 7.40rem);
  --h2 : clamp(4.00rem, calc(4.00rem + 0.0223 * (100vw - 380px)), 6.20rem);
  --h3 : clamp(2.80rem, calc(2.80rem + 0.0061 * (100vw - 380px)), 3.40rem);
  --h4 : clamp(2.60rem, calc(2.60rem + 0.0041 * (100vw - 380px)), 3.00rem);
  --h5 : clamp(2.40rem, calc(2.40rem + 0.0041 * (100vw - 380px)), 2.80rem);
  --h6 : clamp(2.20rem, calc(2.20rem + 0.0041 * (100vw - 380px)), 2.60rem);
  --text-xs : clamp(1.00rem, calc(1.00rem + 0.0020 * (100vw - 380px)), 1.20rem);
  --text-s : clamp(1.40rem, calc(1.40rem + 0.0020 * (100vw - 380px)), 1.60rem);
  --text-m : clamp(1.60rem, calc(1.60rem + 0.0041 * (100vw - 380px)), 2.00rem);
  --text-mm : clamp(2.00rem, calc(2.00rem + 0.0041 * (100vw - 380px)), 2.40rem);
  --text-l : clamp(2.80rem, calc(2.80rem + 0.0041 * (100vw - 380px)), 3.20rem);
  --text-xl : clamp(3.80rem, calc(3.80rem + 0.0081 * (100vw - 380px)), 4.60rem);
  --text-xxl : clamp(4.50rem, calc(4.50rem + 0.0355 * (100vw - 380px)), 8.00rem);
  --grid-gap : var(--space-xl) var(--space-l);
  --grid-gap-s : var(--space-l) var(--space-m);
  --card-gap : var(--space-m);
  --content-gap : calc(var(--space-m) * 1.5);
  --container-gap : var(--space-xxl);
  --padding-section : var(--space-section) var(--space-m);
  --offset : 80px;
  --text-line-height : calc(10px + 2ex);
  --heading-line-height : calc(7px + 2ex);
  --text-font-weight : 400;
  --heading-font-weight : 600;
  --text-color : var(--base);
  --heading-color : var(--base-ultra-dark);
  --radius : 10px;
  --radius-inside : calc(var(--radius) * 0.5);
  --radius-outside : calc(var(--radius) * 1.4);
  --radius-btn : .3em;
  --radius-pill : 9999px;
  --radius-circle : 50%;
  --radius-s : 4px;
  --radius-m : 8px;
  --radius-l : 16px;
  --radius-xl : 24px;
  --border-color : var(--base-light);
  --container-width : 1366px;
  --container-min-width : 380px;
  --max-width : 980px;
  --max-width-m : 840px;
  --max-width-s : 640px;
  --min-height : 340px;
  --min-height-section : 540px;
  --news-bg: #E2C8A5;
  --primary : #1e1e1e;
  --primary-trans-10 : rgba(30, 30, 30, 0.1);
  --primary-trans-20 : rgba(30, 30, 30, 0.2);
  --primary-trans-30 : rgba(30, 30, 30, 0.3);
  --primary-trans-40 : rgba(30, 30, 30, 0.4);
  --primary-trans-50 : rgba(30, 30, 30, 0.5);
  --primary-trans-60 : rgba(30, 30, 30, 0.6);
  --primary-trans-70 : rgba(30, 30, 30, 0.7);
  --primary-trans-80 : rgba(30, 30, 30, 0.8);
  --primary-trans-90 : rgba(30, 30, 30, 0.9);
  --primary-dark : #181818;
  --primary-ultra-dark : #121212;
  --primary-semi-dark : #1b1b1b;
  --primary-medium : #565656;
  --primary-semi-light : #838383;
  --primary-light : #dddddd;
  --primary-ultra-light : #f4f4f4;
  --secondary : #3b3b3b;
  --secondary-trans-10 : rgba(59, 59, 59, 0.1);
  --secondary-trans-20 : rgba(59, 59, 59, 0.2);
  --secondary-trans-30 : rgba(59, 59, 59, 0.3);
  --secondary-trans-40 : rgba(59, 59, 59, 0.4);
  --secondary-trans-50 : rgba(59, 59, 59, 0.5);
  --secondary-trans-60 : rgba(59, 59, 59, 0.6);
  --secondary-trans-70 : rgba(59, 59, 59, 0.7);
  --secondary-trans-80 : rgba(59, 59, 59, 0.8);
  --secondary-trans-90 : rgba(59, 59, 59, 0.9);
  --secondary-ultra-dark : #232323;
  --secondary-dark : #2f2f2f;
  --secondary-semi-dark : #353535;
  --secondary-medium : #6c6c6c;
  --secondary-semi-light : #939393;
  --secondary-light : #e2e2e2;
  --secondary-ultra-light : #f5f5f5;
  --tertiary : #907a4c;
  --tertiary-trans-10 : rgba(144, 122, 76, 0.1);
  --tertiary-trans-20 : rgba(144, 122, 76, 0.2);
  --tertiary-trans-30 : rgba(144, 122, 76, 0.3);
  --tertiary-trans-40 : rgba(144, 122, 76, 0.4);
  --tertiary-trans-50 : rgba(144, 122, 76, 0.5);
  --tertiary-trans-60 : rgba(144, 122, 76, 0.6);
  --tertiary-trans-70 : rgba(144, 122, 76, 0.7);
  --tertiary-trans-80 : rgba(144, 122, 76, 0.8);
  --tertiary-trans-90 : rgba(144, 122, 76, 0.9);
  --tertiary-ultra-dark : #56492e;
  --tertiary-dark : #73623d;
  --tertiary-semi-dark : #826e44;
  --tertiary-medium : #ac9b79;
  --tertiary-semi-light : #c2b69d;
  --tertiary-light : #eeebe4;
  --tertiary-ultra-light : #f9f8f6;
  --accent : #8b4c39;
  --accent-trans-10 : rgba(139, 76, 57, 0.1);
  --accent-trans-20 : rgba(139, 76, 57, 0.2);
  --accent-trans-30 : rgba(139, 76, 57, 0.3);
  --accent-trans-40 : rgba(139, 76, 57, 0.4);
  --accent-trans-50 : rgba(139, 76, 57, 0.5);
  --accent-trans-60 : rgba(139, 76, 57, 0.6);
  --accent-trans-70 : rgba(139, 76, 57, 0.7);
  --accent-trans-80 : rgba(139, 76, 57, 0.8);
  --accent-trans-90 : rgba(139, 76, 57, 0.9);
  --accent-ultra-dark : #532e22;
  --accent-dark : #6f3d2e;
  --accent-semi-dark : #7d4433;
  --accent-medium : #a8796b;
  --accent-semi-light : #bf9d92;
  --accent-light : #eee4e1;
  --accent-ultra-light : #f9f6f5;
  --base : #d8b66a;
  --base-ultra-dark : #826d40;
  --base-ultra-dark-trans-10 : rgba(130, 109, 64, 0.1);
  --base-ultra-dark-trans-20 : rgba(130, 109, 64, 0.2);
  --base-ultra-dark-trans-30 : rgba(130, 109, 64, 0.3);
  --base-ultra-dark-trans-40 : rgba(130, 109, 64, 0.4);
  --base-ultra-dark-trans-50 : rgba(130, 109, 64, 0.5);
  --base-ultra-dark-trans-60 : rgba(130, 109, 64, 0.6);
  --base-ultra-dark-trans-70 : rgba(130, 109, 64, 0.7);
  --base-ultra-dark-trans-80 : rgba(130, 109, 64, 0.8);
  --base-ultra-dark-trans-90 : rgba(130, 109, 64, 0.9);
  --base-dark : #ad9255;
  --base-semi-dark : #c2a45f;
  --base-medium : #e2c88f;
  --base-semi-light : #ead7ad;
  --base-light : #f9f4e9;
  --base-ultra-light : #fdfbf8;
  --neutral : #4a586e;
  --neutral-trans-10 : rgba(74, 88, 110, 0.1);
  --neutral-trans-20 : rgba(74, 88, 110, 0.2);
  --neutral-trans-30 : rgba(74, 88, 110, 0.3);
  --neutral-trans-40 : rgba(74, 88, 110, 0.4);
  --neutral-trans-50 : rgba(74, 88, 110, 0.5);
  --neutral-trans-60 : rgba(74, 88, 110, 0.6);
  --neutral-trans-70 : rgba(74, 88, 110, 0.7);
  --neutral-trans-80 : rgba(74, 88, 110, 0.8);
  --neutral-trans-90 : rgba(74, 88, 110, 0.9);
  --neutral-ultra-dark : #5c697d;
  --neutral-dark : #778292;
  --neutral-light : #e4e6e9;
  --neutral-ultra-light : #f6f7f8;
  --white : #ffffff;
  --white-trans-10 : rgba(255, 255, 255, 0.1);
  --white-trans-20 : rgba(255, 255, 255, 0.2);
  --white-trans-30 : rgba(255, 255, 255, 0.3);
  --white-trans-40 : rgba(255, 255, 255, 0.4);
  --white-trans-50 : rgba(255, 255, 255, 0.5);
  --white-trans-60 : rgba(255, 255, 255, 0.6);
  --white-trans-70 : rgba(255, 255, 255, 0.7);
  --white-trans-80 : rgba(255, 255, 255, 0.8);
  --white-trans-90 : rgba(255, 255, 255, 0.9);
  --black : #000000;
  --black-trans-10 : rgba(0, 0, 0, 0.1);
  --black-trans-20 : rgba(0, 0, 0, 0.2);
  --black-trans-30 : rgba(0, 0, 0, 0.3);
  --black-trans-40 : rgba(0, 0, 0, 0.4);
  --black-trans-50 : rgba(0, 0, 0, 0.5);
  --black-trans-60 : rgba(0, 0, 0, 0.6);
  --black-trans-70 : rgba(0, 0, 0, 0.7);
  --black-trans-80 : rgba(0, 0, 0, 0.8);
  --black-trans-90 : rgba(0, 0, 0, 0.9);
  --grid-1 : repeat(1, minmax(0, 1fr));
  --grid-2 : repeat(2, minmax(0, 1fr));
  --grid-3 : repeat(3, minmax(0, 1fr));
  --grid-4 : repeat(4, minmax(0, 1fr));
  --grid-5 : repeat(5, minmax(0, 1fr));
  --grid-6 : repeat(6, minmax(0, 1fr));
  --grid-7 : repeat(7, minmax(0, 1fr));
  --grid-8 : repeat(8, minmax(0, 1fr));
  --grid-9 : repeat(9, minmax(0, 1fr));
  --grid-10 : repeat(10, minmax(0, 1fr));
  --grid-11 : repeat(11, minmax(0, 1fr));
  --grid-12 : repeat(12, minmax(0, 1fr));
  --grid-1-2 : minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3 : minmax(0, 1fr) minmax(0, 3fr);
  --grid-1-4 : minmax(0, 1fr) minmax(0, 4fr);
  --grid-2-1 : minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3 : minmax(0, 2fr) minmax(0, 3fr);
  --grid-2-4 : minmax(0, 2fr) minmax(0, 4fr);
  --grid-3-1 : minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2 : minmax(0, 3fr) minmax(0, 2fr);
  --grid-3-4 : minmax(0, 3fr) minmax(0, 4fr);
  --grid-4-1 : minmax(0, 4fr) minmax(0, 1fr);
  --grid-4-2 : minmax(0, 4fr) minmax(0, 2fr);
  --grid-4-3 : minmax(0, 4fr) minmax(0, 3fr;
}