
* {
    font-family: "Montserrat";
}

.page-heading__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}

.lede__wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: var(--space-s) 0;
    gap: 1rem
}

.main-button{
    padding: 1rem 3rem;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
}

.main-button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

/* NEWSPAPER */
.headline__wrapper, .details__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-xs);
    border-bottom: 2px solid black;
}

.headline__side-text{
    text-align: center;
    font-size: 0.7rem
}

.headline__side-block{
    padding: 0 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.headline__side-block p{
    font-family: "Cinzel Decorative", serif;
}

.headline__title-block{
    display:flex;
    justify-content: center;
}
/*
#newsletter *{
    font-family: "Cinzel Decorative", serif;

    font-weight: 500;
}
*/

#headline__title-h1{
    font-size: 5rem;
    text-align: center;
    font-family: "UnifrakturCook", cursive;
}

#newspaper{
    background-color: var(--news-bg);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newspaper-page{
    border-top: 2px solid black;
    max-width: 1366px;
}

.details__wrapper p, .headline__side-block p{
    font-family: "Cinzel Decorative", serif;
}

/*ARTICLES*/

.articles__grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--space-s);
}

.article__headline{
    font-family: "Cinzel Decorative", serif;
}

.article__block{
    display:flex;
    flex-direction: column;
    padding: var(--space-xs);
}

.article__block p{
    font-family: "Cormorant Upright", serif;
}

.article__headline-wrapper{
    display:flex;
    flex-direction: column;
    column-gap: 0;
}

.article__headline-wrapper h2{
    font-size: 1.2rem;
}

.article__body-wrapper{
    padding-top: var(--space-xs);
}

.article__image{
    float: left;
    height:256px;
    margin-right: var(--space-s);
    margin-bottom: var(--space-s);
}

.dawn {
    background-color: #f7e1b5;
    color: #5a3e1b;
  }
  
  .midday {
    background-color: #d9ecff;
    color: #002244;
  }
  
  .dusk {
    background-color: #40334c;
    color: #fcead7;
  }
  
  .night {
    background-color: #0b0c1e;
    color: #ccccff;
  }
  