
* {
    font-family: "Montserrat";
}

h1{
    margin:0;
}

.page-heading__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}

.lede__wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: var(--space-s) 0;
    gap: 1rem
}

.main-button{
    padding: 1rem 3rem;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
}

.main-button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

/* NEWSPAPER */
.headline__wrapper, .details__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-xs);
    border-bottom: 2px solid black;
}

.headline__side-text{
    text-align: center;
    font-family: "Cormorant Upright", serif;
    font-size: var(--text-xxs);
    font-weight: 500;
    text-transform: uppercase;
}

.headline__side-block{
    padding: 0 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}


.headline__title-block{
    display:flex;
    justify-content: center;
}
/*
#newsletter *{
    font-family: "Cinzel Decorative", serif;

    font-weight: 500;
}
*/

#headline__title-h1{
    font-size: 5rem;
    text-align: center;
    font-family: "UnifrakturCook", cursive;
}

#newspaper{
    background-color: var(--news-bg);
    background-image: url("/img/paperTest.jpg");
    background-repeat: repeat;
    background-size: auto; /* or specify exact size if needed */
    background-position: top left;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:var(--space-s);
}

.newspaper-page{
    border-top: 2px solid black;
    max-width: 1366px;
}

.details__wrapper p{
    font-family: "Cinzel Decorative", serif;
}

/*ARTICLES*/

.articles__grid {
    column-count: 3;
    column-gap: var(--space-s);
    padding-block: var(--space-xs);
  }
  
  .articles__grid > * {
    break-inside: avoid;
    margin-bottom: var(--space-s);
  }

.article__headline{
    font-family: "Cinzel Decorative", serif;
}

.article__block not:bordered-article{
    display:flex;
    flex-direction: column;
    padding: 0var(--space-xs);
}

.article__block.bordered-article{
    display:flex;
    flex-direction: column;
    padding: calc(var(--space-xxs)*0.5);
    border: 3px solid #303030;
}

.inner-border{
    padding: var(--space-xxs);
    border: 1px solid #303030;
}

.article__block p{
    font-family: "Cormorant Upright", serif;
}

.article__headline-wrapper{
    display:flex;
    flex-direction: column;
    column-gap: 0;
    padding-bottom: var(--space-xs);
}

.article__headline-wrapper h2{
    font-size: var(--text-s);
    margin:0!important;
}

.big_headline{
    font-size: var(--text-m)!important;
}

.important-headline{
    padding: var(--space-xs);
    background-color: #101010;
    color: var(--news-bg);
    font-size: var(--text-l)!important;
    font-family: "Girassol", serif;
}

.article__body-wrapper{
    padding-top: var(--space-xs);
    border-top: 1px solid black;
}

.article__body-wrapper span{
    font-family: "Cormorant Upright", serif;
    font-size: var(--text-s);
    font-weight: 700;
    
}

.article__body{
    margin:0!important;
}

.article__author{
    margin:0!important;
    padding-top:calc(var(--space-xs)*0.8);
    font-weight: 700;
}


.article__image{
    float: left;
    height:256px;
    margin-right: var(--space-s);
    margin-bottom: var(--space-s);
}

.dawn {
    background-color: #f7e1b5;
    color: #5a3e1b;
  }
  
  .midday {
    background-color: #d9ecff;
    color: #002244;
  }
  
  .dusk {
    background-color: #40334c;
    color: #fcead7;
  }
  
  .night {
    background-color: #0b0c1e;
    color: #ccccff;
  }
  