:root{
    --space-s: 2em;
}

* {
    font-family: "Montserrat";
}

.page-heading__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}

.lede__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}