
:root{
    --space-xs: 1rem;
    --space-s: 2rem;

    --news-bg: #E2C8A5;
}

* {
    font-family: "Montserrat";
}

.page-heading__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}

.lede__wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: var(--space-s) 0;
    gap: 1rem
}

.main-button{
    padding: 1rem 3rem;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
}

.main-button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

/* NEWSPAPER */
.headline__wrapper, .details__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-xs);
    border-bottom: 2px solid black;
}

.headline__side-text{
    text-align: center;
    
}

.headline__side-block{
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.headline__side-block p{
    font-family: "Cinzel Decorative", serif;
}

.headline__title-block{
    display:flex;
    justify-content: center;
}
/*
#newsletter *{
    font-family: "Cinzel Decorative", serif;

    font-weight: 500;
}
*/

#headline__title-h1{
    font-size: 5rem;
    text-align: center;
    font-family: "UnifrakturCook", cursive;
}

#newspaper{
    background-color: var(--news-bg);
    border-top: 2px solid black;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newspaper-page{
    max-width: 1366px;
}

.details__wrapper p, .headline__side-block p{
    font-family: "Cinzel Decorative", serif;
}

/*ARTICLES*/

.articles__grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.article__headline{
    font-family: "Cinzel Decorative", serif;
}

.article__block{
    display:flex;
    flex-direction: column;
    padding: var(--space-xs);
}

.article__block p{
    font-family: "Cormorant Upright", serif;
}

.article__headline-wrapper{
    display:flex;
    flex-direction: column;
    column-gap: 0;
}

.article__headline-wrapper h2{
    font-size: 1.2rem;
}

.article__image{
    float: left;
}