:root{
    --space-s: 2em;
}

* {
    font-family: "Montserrat";
}

.page-heading__wrapper{
    display: flex;
    justify-content:center;
    padding: var(--space-s) 0;
}

.lede__wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: var(--space-s) 0;
    gap: 1rem
}

.main-button{
    padding: 1rem 3rem;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
}

.main-button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}